@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

$crimson : crimson;
$black: #0d0d0d;
$light-bg: #1a1a1a;
$white: #fff;
$light-color: #aaa;
$box-shadow: 0 .5rem 1rem rgba(0,0,0,.7);